<div class="wrrapper">
    <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)" >
        <h2>Login</h2>
        <div class="input">
            <label for="login">Login:</label>
            <input class="form-control" id="login" type="text" placeholder="e-mail" formControlName="userName">
        </div>
        <div class="input">
            <label for="password">Password:</label>
            <input class="form-control" id="password" type="password" formControlName="password" >        
        </div>
        <div>
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
    <router-outlet></router-outlet>
</div>
<!-- ngModel={{email}} name={{email}} -->