<div>
    <h4>Admin Section</h4>
    <h5>Information</h5>
    <p>Id: {{this.id}}</p>
    <p>Name: {{this.name}}</p>
    <p>Users resolved: {{this.users_resolved }}</p>
    <p>Active: {{this.active}}</p>
    <img src="{{this.image_url}}">
<div>
    <h5>Current Users</h5>
    <ul>
        <li>{{currentUser}}</li>
    </ul>
</div>
<div>
    <h5>Users</h5>
    <table class="table table-striped">
        <thead >
            <tr>
                <th class="thead-dark">#</th>
                <th class="thead-dark">Users</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">1</td>
                <td>{{currentUser}}<td>
            </tr>
            <tr>
                <td scope="row">2</td>
                <td>{{userName}}<td>
            </tr>
        </tbody>
    </table>
</div>

</div>
